Package: com.pookjw.namutracker
Name: NamuTracker
Version: 0.1
Architecture: iphoneos-arm
Description: Hearthstone Deck Tracker
Maintainer: Jinwoo Kim
Author: Jinwoo Kim
Section: Utilities
Depends: firmware (>= 14.0), org.coolstar.libhooker, com.opa334.ccsupport, com.rpetrich.rocketbootstrap
